<!--div ng-include="'components/navbar/navbar.html'"></div-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>oby</h1>
    <p class="lead">本を検索する</p>
    <!--img src="assets/images/yeoman.png" alt="I'm Yeoman"-->
    <form>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="例：猫のきもち" ng-model="amazonQuery">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-warning" ng-click="searchBook()">Go</button>
        </span>
      </p>
    </form>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <div id="obi" ng-show="tweet.text">
        <p>{{tweet.text}}　@{{tweet.screen_name}}</p>

        <img src="{{book.img}}" alt="" width="300" id="book" style="box-shadow: 10px 10px 10px rgba(0,0,0,0.4);">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-top:40px;">
<ul>
  <li ng-repeat="book in books">
    <a href="#" ng-click="searchTweet($index)">{{book.title}}</a>
  </li>
</ul>
</div>
</div>
</div>


<!--div class="container">
  <form>
    <label>ツイートを拾ってくる</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="猫" ng-model="tweetQuery">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="searchTweet()">Go</button>
      </span>
    </p>
  </form>
</div-->

<footer class="footer">
  <div class="container">
      <p>oby |
        <a href="#">@hogehoge</a>
  </div>
</footer>
